<main class="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina %></h1>
    <form method="POST"
        class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text"
                name="nombre"
                value="<%=group.nombre%>"
                placeholder="Nombre Grupo">
        </div>
        <div class="campo descripcion">
            <label>Descripcion</label>
            <div class="contenedor-editor">
                <input type="hidden"
                    value="<%=group.descripcion%>"
                    id="x"
                    name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>Categoria</label>
            <select name="categoria">
                <option value=""
                    disabled>Elige una categoria</option>
                <% categories.forEach(category => { %>
                    <option value="<%=category.id%>"
                        <%= (group.categoryId === category.id) && 'selected' %>
                        >
                        <%=category.nombre%>
                    </option>
                <%})%>
            </select>
        </div>
        <div class="campo">
            <label>Sitio web</label>
            <input type="text"
                name="url"
                value="<%=group.url%>"
                placeholder="Sitio web">
        </div>
        <div class="campo enviar">
            <input type="submit"
                value="Guardar cambios"
                class="btn btn-rojo">
        </div>
    </form>
</main>