<main class="contenedor contenedor-formularios">
    <h1><%- nombrePagina %></h1>
    <form class="default-form"
        method="POST">
        <legend>Sobre el Meeti</legend>
        <div class="campo">
            <label>Grupo</label>
            <select name="groupId">
                <option value=""
                    disabled>-- Selecciona Grupo --</option>
                <% if(groups.length) { %>
                <% groups.forEach(group => { %>
                <option <%= (group.id === meeti.groupId) && 'selected' %>
                    value="<%= group.id %>">
                    <%= group.nombre %>
                </option>
                <% }) %>
                <% } %>
            </select>
        </div>
        <div class="campo">
            <label>Titulo</label>
            <input type="text"
                name="titulo"
                value="<%= meeti.titulo %>">
        </div>
        <div class="campo">
            <label>Invitado</label>
            <input type="text"
                value="<%= meeti.invitado %>"
                name="invitado">
        </div>
        <div class="columnas-2 grid">
            <div class="campo">
                <label>Fecha</label>
                <input type="date"
                    value="<%= meeti.fecha %>"
                    name="fecha">
            </div>
            <div class="campo">
                <label>Hora</label>
                <input type="time"
                    value="<%= meeti.hora %>"
                    name="hora">
            </div>
        </div>
        <div class="campo">
            <label>Cupo</label>
            <input type="number"
                min="1"
                value="<%= meeti.cupo %>"
                name="cupo">
        </div>
        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden"
                    id="x"
                    value="<%= meeti.descripcion %>"
                    name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <legend>Ubicación Meeti</legend>
        <div class="campo buscador">
            <label>Coloca la Dirección del Meeti</label>
            <div class="contenedor-input">
                <input type="text"
                    id="formbuscador"
                    placeholder="Ubicación">
                <small>El asistente colocará una dirección estimada</small>
            </div>
        </div>
        <div id="editar-mapa"
            class="campo mapa">
            <div id="mapa"></div>
            <p class="informacion">Mueve el Pin hasta el punto exacto</p>
        </div>

        <p class="informacion">Confirma que los siguientes campos sean correctos:</p>

        <div class="campo">
            <label>Dirección</label>
            <input type="text"
                value="<%= meeti.direccion %>"
                id="direccion"
                name="direccion">
        </div>
        <div class="campo">
            <label>Ciudad</label>
            <input type="text"
                value="<%= meeti.ciudad %>"
                id="ciudad"
                name="ciudad">
        </div>
        <div class="campo">
            <label>Estado</label>
            <input type="text"
                value="<%= meeti.estado %>"
                id="estado"
                name="estado">
        </div>
        <div class="campo">
            <label>País</label>
            <input type="text"
                value="<%= meeti.pais %>"
                id="pais"
                name="pais">
        </div>
        <input type="hidden"
            id="lat"
            value="<%= meeti.ubicacion.coordinates[0] %>"
            name="lat"
            readonly="readonly">
        <input type="hidden"
            value="<%= meeti.ubicacion.coordinates[1] %>"
            id="lng"
            name="lng"
            readonly="readonly">
        <div class="campo enviar">
            <input type="submit"
                class="btn btn-rosa"
                value="Guardar Cambios">
        </div>
    </form>
</main>